body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #d8d8d8ba;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background-color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 8px;
    border: 10px solid #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    background: #ffffff;
    margin: 20px;
    padding: 35px;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.img > img {
    max-width: 1000px;
    height: 500px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
}
